<div class="container mt-2">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1>抱歉！</h1>
      <h2>發生錯誤</h2>
      <p>錯誤訊息：{{ errorMessage }}</p>
      <a class="btn btn-primary" href="../">回到首頁</a>
      </div>
  </div>
</div>