<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>抱歉</h1>
      <h2>發生錯誤</h2>
      <p>錯誤訊息：{{ errorMessage }}</p>
      <a href="../">回到首頁</a>
      </div>

  </div>
</div>