<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto mb-5">
        <div class="w-100 h-25 mb-2" id="map"></div>
        <div id="infowindow-content">
          <span id="place-name" class="title"></span><br />
          <span id="place-address"></span><br />
          <a id="place-detail" href="" target="_blank"></a>
        </div>
      <form action="/restaurants/new" method="POST">

        <div class="form-row">
          <div class="form-group col-md-6">
              <label for="name">餐廳名稱</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="輸入餐廳名稱" required>
          </div>
          <div class="form-group col-md-6">
            <label for="name_en">餐廳英文名稱</label>
            <input type="text" class="form-control" id="name_en" name="name_en" placeholder="輸入餐廳英文名稱">
          </div>
        </div>
          

        <div class="form-group">
          <label for="category">料理種類</label>
          <input type="text" class="form-control" id="category" name="category" placeholder="料理種類" list="categories">
          <datalist id="categories">
            <option value="中東料理">
            <option value="日本料理">
            <option value="義式餐廳">
            <option value="美式">
            <option value="酒吧">
            <option value="咖啡">
          </datalist>
        </div>

        <div class="form-group">
          <label for="name_en">餐廳圖片</label>
          <input type="text" class="form-control" id="image" placeholder="輸入餐廳圖片網址" name="image">
        </div>

        <div class="form-group">
          <p>圖片預覽</p>
          <img class="pic w-50" src="https://via.placeholder.com/200" alt="">
        </div>

        <div class="form-group">
          <label for="location">餐廳地址</label>
          <input type="text" class="form-control" id="location" placeholder="輸入餐廳地址" name="location">
        </div>

        <div class="form-group">
          <label for="phone">餐廳電話</label>
          <input type="tel" class="form-control" id="phone" placeholder="輸入餐廳電話" name="phone">
        </div>

        <div class="form-group">
          <label for="google_map">Google Map</label>
          <input type="text" class="form-control" id="google_map" placeholder="輸入 google 地圖" name="google_map">
        </div>

        <div class="form-group">
          <label for="rating">評分
            <span class="badge badge-pill badge-danger font-weight-normal rating-badge">
              <span>4.5</span>
            <i class="fas fa-star fa-xs"></i>
            </span>
          </label>
          
          <input type="range" class="form-control-range" min="0" max="5" step="0.1" id="rating" name="rating" >
        </div>

        <div class="form-group">
          <label for="description">描述</label>
          <textarea class="form-control" id="description" placeholder="跟我們分享餐廳的細節吧" name="description"></textarea>
        </div>

        <div class="col-md-4 mx-auto">
          <button class="btn btn-primary btn-block" type="submit" role="button">新增餐廳</button>
        </div>

      </form>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&libraries=places"></script>
<script> 
  const rating = document.querySelector('.form-control-range')
  const badge = document.querySelector('.rating-badge')
  rating.addEventListener('input', (e) => {
    console.log(e.target.value)
    badge.querySelector('span').textContent = e.target.value
  })

  const input = document.querySelector('#name')
  const phoneNumber = document.querySelector('#phone')
  const address = document.querySelector('#location')
  const google_map = document.querySelector('#google_map')
  const photo = document.querySelector('#image')
  const imagePreview = document.querySelector('.pic')
  
  const options = {
    componentRestrictions: { country: "tw" },
    fields: ["formatted_address", "formatted_phone_number", "name", "url", "photos", "rating", "geometry"],
    types: ["restaurant", "bar", "cafe"]
  }

  const autoComplete = new google.maps.places.Autocomplete(input, options);
  autoComplete.addListener("place_changed", () => {
    infowindow.close();
    marker.setVisible(false);


    const place = autoComplete.getPlace();
    console.log(place)
    phoneNumber.value = place.formatted_phone_number || ""
    address.value = place.formatted_address || ""
    input.value = place.name
    rating.value = Number(place.rating) || 4.5
    badge.querySelector('span').textContent = rating.value
    google_map.value = place.url || ""
    photo.value = place.photos[0].getUrl() || "https://via.placeholder.com/200"
    imagePreview.src = photo.value

    // set minimap
    if (place.geometry.viewport) {
      map.fitBounds(place.geometry.viewport);
    } else {
      map.setCenter(place.geometry.location);
      map.setZoom(17);
    }

    marker.setPosition(place.geometry.location);
    marker.setVisible(true);
    infowindowContent.children["place-name"].textContent = place.name;
    infowindowContent.children["place-address"].textContent =
      place.formatted_address;
    infowindowContent.children["place-detail"].textContent = "詳細資訊"
    infowindowContent.children["place-detail"].href =
      place.url;
    infowindow.open(map, marker);
  })

 const map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 23.58, lng: 120.58 },
    zoom: 6,
    mapTypeControl: false,
  });
  const infowindow = new google.maps.InfoWindow();
  const infowindowContent = document.getElementById("infowindow-content");

  infowindow.setContent(infowindowContent);

  const marker = new google.maps.Marker({
    map,
    anchorPoint: new google.maps.Point(0, -29),
  });

</script>